{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    <div>
        <a class="btn btn-default" href="{{ path('user_index') }}">Back to the list</a>
    </div>

    <div class="col-md-3 col-md-offset-4">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-default" type="submit" value="Save" />
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
            <input class="btn btn-default" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
